body {
	background-color: rgba(42, 42, 46, 1);
}


h1{
	font-size: 40pt;
	color: #1C1C1C;
	text-align: center;
	font: bolder;
}


label, input { /* Stili comuni agli elementi del form */
color: #b8bcc5; /* Colore del testo */
float: left; /* Float a sinistra */
font-family: Verdana, sans-serif; /* Tipo di carattere per il testo */
margin: 0 0; /* Margini */
}
label { /* Stili per la label */
display: block; /* Impostiamo la label come elemento blocco */
line-height: 30px; /* Altezza di riga */
width: 150px; /* Larghezza */
}

input{ /* Stili per il campo di testo e per la textarea */
background: #1C1C1C; /* Colore di sfondo */
border: 1px solid #323232; /* Bordo */
color: #fff; /* Colore del testo */
height: 30px; /* Altezza */
line-height: 30px; /* Altezza di riga */
width: 300px; /* Larghezza */
padding: 0 0; /* Padding */
}

