body {
	background-color: rgba(42, 42, 46, 1);
}

h1{	
	font-size: 48pt;
	color: #1C1C1C;
	text-align: center;
}

h4{
	font-size: 18pt;
	color: #b8bcc5;
}

h3 {
	font-size: 18pt;
	color: #b8bcc5;
}

ul {
	font-size: 16pt;
	color: #b8bcc5;
}