<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<title>Login</title>
<link rel=stylesheet th:href="@{/css/register.css}">
</head>
<body>
	<section>
		<h1>LOGIN</h1>

		<div>
			<form id="loginForm" th:action=@{/login} method=POST>
				<table class="tabella-centrata">
					<tr>
						<td><label for="usernameInput">User Name</label></td>
						<td><input id=usernameInput type="text"
							placeholder="USERNAME" required
							th:field="${credentialsForm.username}" /></td>
						<td th:if="${#fields.hasErrors('credentialsForm.username')}"
							th:errors="${credentialsForm.username}" />
					</tr>

					<tr>
						<td><label for="passwordInput">Password</label></td>
						<td><input id=passwordInput type="password"
							placeholder="PASSWORD" required
							th:field="${credentialsForm.password}" /></td>
						<td th:if="${#fields.hasErrors('credentialsForm.password')}"
							th:errors="${credentialsForm.password}" />
					</tr>

					<tr>
						<td><input type="submit" value="SIGN IN"></td>
					</tr>
				</table>
			</form>
		</div>
	</section>
</body>


</html>