<!DOCTYPE html>
<html lang="en"
			xmlns="http://www.w3.org/1999/xhtml"
			xmlns:th="http://www.thymeleaf.org"
			>

	<head>
			<title>Nuova Task</title>
			<link rel=stylesheet th:href="@{/css/register.css}">
			</head>
<body>   <h1>Add new Task</h1>
	<div><form id="newTaskForm" th:action="@{'/progetto' + '/' + ${project.id} + '/addTask' }" method=POST>
	
	<table class="tabella-centrata">
			<tr> 
				<td><label for="nameInput"> Name</label></td>
				<td><input id=nameInput type="text" placeholder="NAME" required 
				th:field="${taskForm.name}"/></td>
				<td th:if="${#fields.hasErrors('taskForm.name')}"
					th:errors="${taskForm.name}"/>	
		    </tr>
	
	        <tr> 
				<td><label for="descriptionInput">Description</label></td>
				<td><input id=descriptionInput type="text" placeholder="DESCRIPTION" required 
				th:field="${taskForm.description}"/></td>
				<td th:if="${#fields.hasErrors('taskForm.description')}"
					th:errors="${taskForm.description}"/>	
		    </tr>
		    
		    <tr>
		    <td> <input type="submit" value="ADD">
		    </td>
				</tr>
	</table>
	</form>
	</div>
</body>			
			
			
</html>